{% extends 'backend/layouts/controlbox.html.twig' %}
{% import "backend/components/tools.html.twig" as tools %}

{% block title %}Редактирование ответа #{{ answer.id}} - Ответы - Панель управления{% endblock %}
{% block header %}Редактирование ответа #{{ answer.id}}{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ path('backend_index') }}">Главная</a></li>
    <li class="breadcrumb-item"><a href="{{ path('backend_answer_list') }}">Ответы</a></li>
    <li class="breadcrumb-item">Редактирование ответа #{{ answer.id}}</li>
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {{ form_row(form.text) }}

    <button class="btn btn-primary">Сохранить</button>
    {{ form_end(form) }}
{% endblock %}
