{% extends 'backend/layouts/controlbox.html.twig' %}
{% import "backend/components/tools.html.twig" as tools %}

{% block title %}Вопросы - Панель управления{% endblock %}
{% block header %}Вопросы{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ path('backend_index') }}">Главная</a></li>
    <li class="breadcrumb-item">Вопросы</li>
{% endblock %}

{% block content %}
    <div class="control-buttons">
        <a class="btn btn-primary" href="{{ path('backend_question_create') }}" title="Создать вопрос">
            <i class="fas fa-plus"></i> Создать вопрос
        </a>
    </div>

    {% set items = paginator.results %}
    {% if items|length > 0 %}
        <div class="questions-cards">
            {% for item in items %}
                <div class="card" style="margin-bottom: 15px;">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <b>#{{ item.id }}</b>
                                {{ tools.statusLabel(item.status, item.statusAsText) }}
                            </div>

                            <div class="col-md-6 text-right">
                                <a class="btn btn-success btn-sm" href="{{ path('backend_question_view', {'id': item.id}) }}" target="_blank" title="Просмотр">
                                    Просмотр
                                </a>

                                {% if item.isActive %}
                                    <a class="btn btn-primary btn-sm" href="{{ path('backend_question_update', {'id': item.id}) }}" target="_blank" title="Редактировать">
                                        Редактировать
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <h3>
                            {% if item.isActive %}
                                <a href="{{ appHost }}{{ item.href }}" target="_blank">{{ item.title }}</a>
                            {% else %}
                                {{ item.title }}
                            {% endif %}
                        </h3>

                        {% if item.text %}
                            <p>{{ item.text|nl2br }}</p>
                        {% endif %}
                    </div>

                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-3">
                                <i class="fas fa-comments"></i> {{ item.totalAnswers }}
                            </div>

                            <div class="col-md-3">
                                <b>IP:</b> {{ item.createdByIp }}
                            </div>

                            <div class="col-md-3">
                                <b>Автор:</b> <a href="{{ path('backend_user_view', {'id': item.user.id}) }}" target="_blank">{{ item.user.username }}</a>
                            </div>

                            <div class="col-md-3">
                                <b>Категория:</b> {{ item.category.title }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% include "backend/components/paginator.html.twig" %}
    {% else %}
        {{ tools.alert('info', "Ничего не найдено. Попробуйте изменить критерии поиска.") }}
    {% endif %}
{% endblock %}

{% block filters %}
    <div class="card" style="margin-top: 20px;">
        <div class="card-header">
            <b>Фильтры</b>
        </div>

        <div class="card-body">
            {{ form_start(filterForm) }}
            {{ form_row(filterForm.orderBy) }}

            {{ form_row(filterForm.id) }}
            {{ form_row(filterForm.status) }}
            {{ form_row(filterForm.text) }}
            {{ form_row(filterForm.categoryId) }}
            {{ form_row(filterForm.userId) }}
            {{ form_row(filterForm.createdByIp) }}
            {{ form_row(filterForm.withoutAnswers) }}

            <button class="btn btn-primary">Найти</button>
            {{ form_end(filterForm) }}
        </div>
    </div>
{% endblock %}
